{% extends 'base.html' %}

{% block content %}

<form id="my-form">
    <input type="text" id="name-input">

    <button type="submit">Gönder</button>
</form>

<h1 id="result"></h1>

<script>
    const form = document.getElementById("my-form")
    const input = document.getElementById("name-input")
    const result = document.getElementById("result")

    form.addEventListener("submit", (event) => {
        event.preventDefault()
        result.innerHTML = "Merhaba" + " " + input.value
    })
</script>

{% endblock %}

{% comment %}

<h1>API Test</h1>

<div id="product-container"></div>

<script>
    fetch("/api/products/")
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById("product-container")
            data.forEach(product => {
                container.innerHTML += `
                <div>
                    <h3>${product.name}</h3>
                    <p>${product.name}</p>
                </div>
                `
            })
        })
</script>

<h1 id="title">Merhaba</h1>

<button id="btn">Değiştir</button>

<script>
    const button = document.getElementById("btn")
    const title = document.getElementById("title")

    button.addEventListener("click", () => {
        title.innerHTML = "Selam"
    })
</script>

<h1 id="title">Merhaba</h1>

<input type="text" id="name-input">

<button id="btn">Değiştir</button>

<script>
    const button = document.getElementById("btn")
    const title = document.getElementById("title")
    const input = document.getElementById("name-input")

    button.addEventListener("click", () => {
        title.innerHTML = "Merhaba" + " " + input.value
    })
</script>

{% endcomment %}