{% extends 'base.html' %}

{% block content %}

<h1>Sepetim</h1>

{% if cart_items %}
    <ul>
        {% for item in cart_items %}
            <li>
                <p><strong>Ürün Adı: </strong>{{ item.product.name }}</p>
                <a class="btn btn-success" href="{% url 'increase_quantity' item.id %}">+</a>
                <a class="btn btn-warning" href="{% url 'decrease_quantity' item.id %}">-</a>
                <a class="btn btn-danger" href="{% url 'remove_from_cart' item.id %}">Sil</a>
                <p><strong>Ürün Miktarı: </strong>{{ item.quantity }} Tane</p>
                <p><strong>Ürün Fiyatı: </strong>{{ item.product.price }} TL</p>
            </li>
        {% endfor %}
    </ul>

    <h3><strong>Toplam Fiyat: </strong>{{ total_price }} TL</h3>

{% else %}
    <p>Sepetiniz Boş.</p>
{% endif %}

{% endblock %}