{% extends 'base.html' %}

{% block content %}

<h1>Ürünler</h1>
<h2>Kategoriler</h2>
<ul>
    <li><a href="/">Tümü</a></li>
    {% for category in categories %}
        <li>
            <a href="?category={{ category.id }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
{% if products %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.id %}">
                    {{ product.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Henüz Ürün Yok</p>
{% endif %}

{% endblock %}